@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 70px -70px;
  }
}

* {
  box-sizing: border-box;
}

main#game {
  /* Existing properties of your main */
  display: flex;

  position: relative; /* Important for the pseudo-element to be positioned relative to main */
  overflow: hidden;

  /* Remove background properties from main */
  background-color: transparent; /* Ensure the main's background is transparent */
  background-image: none;
  background-size: none
}

main#game::before {
  content: ''; /* Essential to generate the pseudo-element */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Places the pseudo-element behind the content of the main */
  pointer-events: none;

  /* Apply background and filter here */
  background-color: #222228;
  background-image: url('/assets/images/star-solid-full.svg');
  background-size: 70px;
  animation: moveStars 7s linear infinite;

  opacity: 0.2; /* Example filter: opacity */
}

h1 {
  width: 100%;
  margin: 5px;
}

.x-section {
  width: var(--game-width);
  padding: 5px;
}

.x-section.top {
  position: relative;
  height: calc(var(--game-height) * 0.1); /* 10% */
}

.x-section.map {
  position: relative;
  height: calc(var(--game-height) * 0.4); /* 40% */
}

.x-section.statistics {
  display: grid;
  grid: 1fr / 1fr 3fr;
  gap: 10px;
  height: calc(var(--game-height) * 0.35); /* 30% */
}

.x-section.bottom {
  height: calc(var(--game-height) * 0.15); /* 10% */
}
