main.menus {
  display: flex;
  flex-direction: column;
  align-items: start;

  position: relative;

  height: inherit;
  width: inherit;

  overflow: auto;
}

main.menus::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Places the pseudo-element behind the content of the main */
  pointer-events: none;

  background-image: url('/assets/scenarios/dark_forest_bg.jpg');
  background-size: cover;
  opacity: 0.5; /* Example filter: opacity */
}

main.menus > section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  height: 100%;
  min-width: 300px;
  padding: 2rem 5rem;

  h1 {
    font-size: 3.5rem;
    text-align: left;
  }

  h2 {
    color: #576a7e;
    padding-top: 1.5rem;
    font-size: 2.5rem;
  }

  .credits h3 {
    font-size: 1.75rem;
  }

  .credits p {
    color: gray;
  }

  .credits a {
    color: aqua
  }
  hr {
    width: 100%;
  }

  .credits {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

button.menus {
  min-height: 30px;
  width: fit-content;
  padding: 0rem 1rem;

  font-size: 1.25rem;
  border: none;
  background-color: #ffffff00 !important;
  color: white;
  font-size: 1.5rem;
}

button.menus:hover {
  transform: scale(1.05);
}

button.clear {
  background-color: rgb(248, 85, 85);
  position: absolute;
  bottom: 2rem;
}

.sliderOption {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slider {
  appearance: none;
  width: 150px;
  height: 10px; /* Specified height */
  outline: none; /* Remove outline */
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: aqua; /* Green background */
  cursor: pointer; /* Cursor on hover */

  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.415))
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: aqua; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-track {
  height: 10px;
  border-radius: 5px;
  background: #ccc;
}