body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/scenarios/dark_forest_bg.jpg");
    background-size: cover;        /* Scale to fill screen */
    background-position: center;   /* Center the image */
    background-repeat: no-repeat;  /* Prevent tiling */
}

#backgroundfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px) saturate(0.5);
}

#root {
    --game-width: 800px;
    --game-height: 600px;
    position: relative;
    width: var(--game-width);
    height: var(--game-height);
    margin: 10px auto;
    padding: 0.75rem;
    text-align: center;
    background-color: black;
    box-sizing: content-box;
    z-index: 0; /* NÃO MEXE NISSO */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}