body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    --game-width: 800px;
    --game-height: 600px;
    position: relative;
    width: var(--game-width);
    height: var(--game-height);
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    background-color: black;
    box-sizing: content-box;
    z-index: 0; /* NÃO MEXE NISSO */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}