.textContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0rem 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.logContainer {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.logLine {
  text-align: left;
  width: 100%;
}

.logLine > * {
  display: inline;
}

.logLine::before {
  content: "> ";
}

button.close {
  background: none;
  color: rgb(255, 0, 0);
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  align-self: end;
}