.entity-container {
    border: white solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

img.player {
    height: fill;
    width: fit-content;
}

h2 {
    font-size: 1rem;
    margin: 0.25rem 0;
}