.entity-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100%;
}

img {
    height: 65%;
}

h2 {
    height: 15%;
    font-size: 1rem;
    margin: 0px !important;
}

div.shadow {
        transform: translateY(-50%);
        width: 100%;               /* largura da sombra */
        height: 10%;             /* altura da sombra */
        background: radial-gradient(ellipse, rgba(0,0,0,0.4), transparent);
        border-radius: 50%;
        pointer-events: none;     /* não atrapalha clique */
    }