.entity-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100%;
}

img {
    height: 90%;
}

h2 {
    height: 10%;
    font-size: 1rem;
    margin: 0px !important;
}