header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    border: white solid 1px;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
}

header>button#gear {
  display: contents;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0);
  border: none;
}

header #gear-icon {
  height: 1.5rem;
  position: absolute;
  width: 1.5rem;
  right: 3%;
  color: rgba(255, 255, 255, 0.87);
}

div#options {
  position: absolute;
  top: 90%;
  right: 3%;
  width: fit-content;
  height: fit-content;
}

/* Just to make the gear rotate*/
.rotate {
  transition: transform 0.3s ease;
  transform: rotate(-180deg);
}

.no-rotate {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}