.map-container {
  position: relative;
  border: white solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
}

img#map {
  height: 100%;
  border-radius: 5px;
}

h2 {
  font-size: 1rem;
  margin: 0.25rem 0;
}

div.player-side {
  position: absolute;
  height: 60%;
  left: 100px;
  bottom: 20px;
}

div.enemies-side {
  position: absolute;
  display: flex;
  height: 60%;
  right: 100px;
  bottom: 20px;
}

div.enemies-side>div#enemy1 {
  transform: translateY(-10px) translateX(10px);
}
div.enemies-side>div#enemy3 {
  transform: translateY(-10px) translateX(-10px);
}