.terminal {
    border: white solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 50%;
    overflow-y: auto;
    margin: 0.5rem;
    padding: 0rem 1rem;
}

.terminal-line {
    text-align: left;
    width: 100%;
}

.terminal-line > * {
    display: inline;
}

.terminal-line::before {
    content: "| ";
}