div.action-buttons-container {
    border: white solid 1px;
  border-radius: 5px;
  display: grid;
  width: 25%;
  height: 100%;
  grid: 50% 50% / 50% 50%;
  justify-content: space-around;
  padding: 0.5rem;
}

