.changelogContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 300px;
  height: 200px;
  padding: 1rem;
  border: white solid 1px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.changelogContainer h1 {
  color: #2c3e50;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.changelogContainer h2 {
  color: #97b0c9;
  margin-top: 1.5rem;
}

.changelogContainer ul {
  list-style-type: disc;
  padding-left: 20px;
}

.changelogContainer li {
  margin-bottom: 0.5rem;
}

.changelogContainer p {
  margin-bottom: 1rem;
}

.changelogContainer a {
  color:aqua;
}

.changelogContainer strong {
  color: #e74c3c;
}


/* General Style of Scrollbar */
.changelogContainer::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem vertical */
  height: 10px; /* Altura da barra de rolagem horizontal */
}

/* Background of the Scrollbar */
.changelogContainer::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* style of that thing that moves */
.changelogContainer::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 5px; /* Deixa as bordas arredondadas */
}

/* style of that thing that moves (when mouse hover) */
.changelogContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}