.options-menu-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  gap: 5px;
}

.options-menu-container button {
  height: 100%;
  border: black solid 3px !important;
}
