/* global is for the module to not add a hash to the name of the class, that way, 'has()' can target it*/
.opContainer button {
  height: 100%;
  border: black solid 3px !important;
}

.opContainer {
  display: flex !important;
  flex-direction: column !important;
  width: 150px !important;
  height: 160px !important;
  gap: 5px !important;
}