div.container {
  border: white solid 1px;
  border-radius: 5px;
  display: grid;
  width: 100%;
  height: 100%;
  grid: 100% / 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: space-around;
  padding: 0.5rem;
}

