div.container {
  position: relative;
  width: 100%;
  height: 100%;

  pointer-events: all;
}

img.cloud {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

img.cloud[src="/assets/map_sections/clouds/cloud_1.png"] {
  transform: translateY(70%);
  animation: cloudUp 1s ease 200ms 1 forwards;
}

img.cloud[src="/assets/map_sections/clouds/cloud_2.png"] {
  transform: translateY(70%);
  animation: cloudUp 1s ease 100ms 1 forwards;
}
img.cloud[src="/assets/map_sections/clouds/cloud_3.png"] {
  transform: translateY(70%);
  animation: cloudUp 1s ease 0ms 1 forwards;
}

@keyframes cloudUp {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0%);
  }
}