div.eventBadgeContainer {
  display: contents;
}

img.eventImage {
  width: 80px;
}

img.eventImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}

img.eventImage:active {
  transform: scale(1.1);
}