div.eventBadgeContainer {
  display: contents;
}

img.eventImage {
  width: 80px;
}

img.eventImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}

img.eventImage:active {
  transform: scale(1.1);
}

img.eventImage.canSelect {
  /* --badge-shadow: rgb(53, 87, 84); */
  --badge-shadow: white;

  filter: drop-shadow(1px 1px 1px var(--badge-shadow))
    drop-shadow(-1px -1px 1px var(--badge-shadow))
    drop-shadow(-1px 1px 1px var(--badge-shadow))
    drop-shadow(1px -1px 1px var(--badge-shadow));
}