section.mapSection {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  min-height: calc(var(--game-height) * 0.35);  /* 35% of the game height */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

div.badgesContainer {
  /* --badge-shadow: rgb(53, 87, 84); */
  --badge-shadow: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 143px;

  z-index: 2;

  width: fit-content;

  filter: drop-shadow(1px 1px 1px var(--badge-shadow))
    drop-shadow(-1px -1px 1px var(--badge-shadow))
    drop-shadow(-1px 1px 1px var(--badge-shadow))
    drop-shadow(1px -1px 1px var(--badge-shadow));
}

div.path {
  display: flex;
  justify-content: center;

  position: absolute;
  z-index: 1;


  height: 50%;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  filter: opacity(0.8) drop-shadow(1px 1px 1px black);

}

div.path.top {
  top: 0;
}

div.path.bottom {
  bottom: 0;
}