div.bar-container {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 100px;
  h4 {
    width: 20%;
    text-align: left;
  }
  img {
    height: 100%;
    width: fit-content;
  }
}

div.bar-bg {
  position: relative;
  width: 100%;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.335);
  border-radius: 3px;
}

div.bar-bg.hp {
  height: 12px;
}
div.bar-bg.xp {
  height: 5px;
}

div.hp,
div.xp {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

div.hp.fill {
  background-color: rgb(255, 0, 0);
}

div.xp.fill {
  background-color: rgb(255, 255, 255);
}

.transition {
  transition: width 0.5s ease-in;
}

div.bar-bg > p {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 0.75rem;
  margin: 0;
}
