.boxContainer {
  --title-wdt: 0;

  position: relative;
  height: calc(100% - 1rem);
  margin-top: 1rem;
  min-height: 0;
}

.boxContainer .boxTitle {
  position: absolute;
  bottom: 100%;
  width: fit-content;
  border-top: white solid 1px;
  border-right: white solid 1px;
  border-left: white solid 1px;
  border-radius: 5px 5px 0px 0px;
  height: 1rem;
  padding: 0rem 0.5rem;
}

.boxContainer .boxBorder {
  position: relative;
  height: 100%;
  border: white solid 1px;
  border-radius: 0px 5px 5px 5px;
  padding: 0.5rem;

  /* This mask will apply an effect that 'cuts' the border */
  mask-image: 
    linear-gradient(to right, black 0px 1px, transparent 1px calc(var(--title-wdt) + 1px), black calc(var(--title-wdt) + 1px) 100%),
    linear-gradient(to bottom, transparent 1px 1px, black 1px 100%);
  mask-composite: add;
  mask-repeat: no-repeat;
}