/* BARS */
.barContainer {
  position: absolute;
  left: 20px;
  top: 35px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 5px;
  z-index: 1;
  background-image: linear-gradient(to right, black 20%, transparent);
}

/* Health Bar */
.hpContainer {
  width: 100%;
  height: 5px;
}

.hpBar {
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
}

.hpBar.low { /* If all bars need to have this low atribute, I just need to remove the ".hpBar" */
  background-color: red;
  animation: low 2s linear infinite;
}

@keyframes low {
  0% {
    background-color: red;
  }
  50% {
    background-color: rgb(255, 129, 129);
  }
  100% {
    background-color: red;
  }
}

/* Mana Bar */
.mnContainer {
  width: 100%;
  height: 5px;
}

.mnBar {
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

/* TURN */
.turnContainer {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 35px;

  display: flex;
  flex-direction: column;
  padding: 5px;
  z-index: 1;
  background-image: linear-gradient(to right, transparent, black, transparent);

}

/* ACTIONS */
.actionsContainer {
  position: absolute;
  right: 20px;
  top: 35px;

  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
  background-image: linear-gradient(to left, black, transparent);
}

/* STATUS */
div.statusContainer {
  position: absolute;
  left: 20px;
  top: 110px;
  width: 125px;
  height: 150px;
  display: grid;

  align-content: center;
  justify-content: start;
  align-items: start;
  justify-items: start;
  
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px;
  gap: 0.25rem;
  overflow: auto;
  max-height: 100%;

  padding: 0.5rem;
  z-index: 10;
}

div.statusHolder {
  position: relative;
  
  align-items: center;
  width: 30px;
  height: 30px;
}

div.statusHolder img {
  width: 100%;
}