div.valueContainer {
  display: block;
  position: absolute;
  top: -1.25rem;
  right: 0px;
  width: 100%;
  text-align: right;
  height: fit-content;
}

div.valueContainer span {
  position:absolute;
  right: 0;

  opacity: 0;
  font-size: 1.25rem;
  text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
  animation: showValue 1s ease-in 1;
}

@keyframes showValue {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

div.valueContainer span.crit {
  color: red;
  font-size: 1.5rem;
}