div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #161618;
  border: white solid 1px;
  border-radius: 5px;
  width: 256px;
  min-height: 128px;
  padding: 0.5rem;
}

div.container div.buttons {
  display: flex;
  justify-content: center;
  width: 60%;
}

div.buttons button {
  border: white solid 1px;
  border-radius: 5px;
  min-width: 50px;
  padding: 0.25rem;
}

div.buttons button:hover {
  cursor: pointer;
  transform: translateY(-1px);
}